<div class="task-runner">

    <div class="form-panel">
        <form id="deployer-form" class="m-0">
            <div class="alert alert-warning" data-not="isDumpFound">
                <div>
                    В папке сайта <b data-bind="localDir"></b> не найдены <b>*.sql</b> файлы!<br>
                    Добавьте файл <b>dump.sql</b> в эту папку, чтобы автоматически заполнить базу данных при создании
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="legend-hint text-muted">
                        Сайт будет развернут на сервере с этими настройками<br>
                        Параметры MySQL можно выдумать, они нигде заранее не прописаны
                    </div>
                    <div class="flex-row">
                        <div class="title">Порт веб-сервера</div>
                        <div class="value">
                            <input name="HTTP_PORT" type="number" class="form-control"
                                data-val-required="Укажите порт веб-сервера" data-val-regexp="^[0-9]+$"
                                data-val-message="Порт веб-сервера должен содержать только цифры" placeholder="80"
                                value="">
                        </div>
                    </div>
                    <div class="flex-row">
                        <div class="title">Порт phpMyAdmin</div>
                        <div class="value">
                            <input name="PHPMYADMIN_PORT" type="number" class="form-control"
                                data-val-required="Укажите порт phpMyAdmin" data-val-regexp="^[0-9]+$"
                                data-val-message="Порт phpMyAdmin должен содержать только цифры" placeholder="8080"
                                value="">
                        </div>
                    </div>
                    <div class="flex-row">
                        <div class="title">База данных MySQL</div>
                        <div class="value">
                            <input name="MYSQL_DATABASE" type="text" class="form-control"
                                data-val-required="Укажите название базы данных" data-val-regexp="^[a-z0-9\-_]+$"
                                data-val-message="Название базы данных может включать только маленькие латинские буквы, цифры, знак дефис и нижнее подчеркивание"
                                value="">
                        </div>
                    </div>
                    <div class="flex-row">
                        <div class="title">Пользователь MySQL</div>
                        <div class="value">
                            <input name="MYSQL_USER" type="text" class="form-control"
                                data-val-required="Укажите имя пользователя MySQL" data-val-regexp="^[a-z0-9\-_]+$"
                                data-val-message="Имя пользователя MySQL может включать только маленькие латинские буквы, цифры, знак дефис и нижнее подчеркивание"
                                value="">
                        </div>
                    </div>
                    <div class="flex-row">
                        <div class="title">Пароль MySQL</div>
                        <div class="value">
                            <input name="MYSQL_PASSWORD" type="text" class="form-control"
                                data-val-required="Укажите пароль пользователя MySQL" value="">
                        </div>
                    </div>
                    <div class="flex-row">
                        <div class="title">Пароль root MySQL</div>
                        <div class="value">
                            <input name="MYSQL_ROOT_PASSWORD" type="text" class="form-control"
                                data-val-required="Укажите пароль root-пользователя MySQL" value="">
                        </div>
                    </div>
                    <div class="form-group mt-4 mb-0">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="cb-make-config-prod">
                            <label class="custom-control-label" for="cb-make-config-prod">
                                <span>Создать файл <b>config.prod.php</b> в папке настроек сайта</span>
                                <div class="text-muted" style="font-size: 12px">
                                    В этом файле можно отдельно хранить настройки сайта для рабочего сервера
                                </div>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <button class="btn btn-success btn-submit">Начать публикацию</button>
        </form>
    </div>

    <div class="log-panel">
        <div class="log-view">
            <ul class="log">
                <li></li>
            </ul>
            <button class="btn btn-primary btn-done mt-4" style="display: none">Продолжить</button>
        </div>
        <div class="terminal-view">
            <div class="terminal"></div>
        </div>
    </div>

</div>