<html>
<head>
    <meta charset="UTF-8">
    <title></title>
    <script src="https://use.fontawesome.com/9c28b8c4ea.js"></script>
    <link href="../../renderer/css/global.css" rel="stylesheet" media="all" />
</head>
<body>
    <div id="wrap" class="static-ui">

        <nav class="header bg-primary">
            <span class="nav-back">
                <button class="btn btn-primary" onclick="app.stepBack()">
                    <i class="fa fa-angle-left"></i>
                </button>
            </span>
            <span class="title">Мои сайты</span>
            <span class="spacer"></span>
            <div>
                <button class="btn btn-info" onclick="app.addSite()">
                    <i class="fa fa-plus"></i> Добавить сайт
                </button>
            </div>
        </nav>

        <div class="workspace">

            <!-- sitelist component -->

            <div id="sitelist" class="component">
                <ul class="list">
                    <li class="site" data-template="list-item">
                        <div class="name" data-bind="name"></div>
                        <div class="url" data-bind="url"></div>
                        <div class="status">
                            <div class="deployed text-success" data-if="isDeployed">Опубликован</div>
                            <div class="not-deployed text-secondary" data-not="isDeployed">Не опубликован</div>
                        </div>
                    </li>
                </ul>
                <div class="no-sites" data-not="isSites">
                    <p>Вы не добавили ни одного сайта</p>
                    <button class="btn btn-primary" onclick="app.addSite()">Добавить сайт</button>
                </div>
            </div>


            <!-- siteadd component -->

            <div id="siteform" class="component">
                <form id="site-form">
                    <input type="hidden" name="id" value="">
                    <input type="hidden" name="isDeployed" value="">
                    <fieldset>
                        <legend>Параметры сайта</legend>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Локальная папка</label>
                            <div class="col-sm-9">
                                <input name="localDir" type="text" readonly id="input-dir" class="form-control"
                                    value="">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Название сайта</label>
                            <div class="col-sm-9">
                                <input name="name" id="input-name" type="text" class="form-control"
                                    placeholder="my-new-site" value="">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">URL сайта</label>
                            <div class="col-sm-9">
                                <input name="url" id="input-url" type="text" class="form-control"
                                    placeholder="http://my-new-site.com" value="">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Версия сайта</label>
                            <div class="col-sm-9">
                                <input name="version" type="text" class="form-control" placeholder="1.0.0" value="">
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend>Параметры GIT</legend>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Адрес репозитория</label>
                            <div class="col-sm-9">
                                <input name="gitRepo" type="text" class="form-control"
                                    placeholder="https://github.com/user/repo.git" value="">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Пользователь</label>
                            <div class="col-sm-9">
                                <input name="gitUser" type="text" class="form-control" value="">
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend>Параметры сервера</legend>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Хост</label>
                            <div class="col-sm-9">
                                <input name="serverHost" type="text" class="form-control" placeholder="Домен или IP"
                                    value="">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Порт SSH</label>
                            <div class="col-sm-9">
                                <input name="serverPort" type="text" class="form-control" value="">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Пользователь SSH</label>
                            <div class="col-sm-9">
                                <input name="serverUser" type="text" class="form-control" value="">
                            </div>
                        </div>
                    </fieldset>
                    <button class="btn btn-primary btn-submit">Продолжить</button>
                </form>
            </div>


            <!-- siteview component -->

            <div id="siteview" class="component">
                <div class="details">
                    <h3 data-bind="name" class="site-name"></h3>
                    <div class="site-dir text-primary" data-bind="localDir"></div>
                    <div class="site-url text-muted" data-bind="url"></div>
                </div>
                <div class="actions">
                    <button class="btn btn-edit btn-secondary">Редактировать</button>
                    <button class="btn btn-deploy btn-info" data-not="isDeployed">Опубликовать</button>
                    <button class="btn btn-update btn-success" data-if="isDeployed">Обновить</button>
                </div>
            </div>


            <!-- deployer component -->

            <div id="deployer" class="component">
                <div class="form-panel">
                    <form id="deployer-form" class="m-0">
                        <fieldset class="mb-4">
                            <legend>Введите пароли для публикации</legend>
                            <div class="legend-hint text-muted">
                                Пароли не сохраняются в целях безопасности, перед каждой публикацией их придется
                                ввести вручную
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">
                                    Пароль GIT для <span data-bind="gitUser"></span>:
                                </label>
                                <div class="col-sm-8">
                                    <input name="gitPassword" type="password" class="form-control" value="">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">
                                    Пароль SSH для <span data-bind="serverUser"></span>:
                                </label>
                                <div class="col-sm-8">
                                    <input name="serverPassword" type="password" class="form-control" value="">
                                </div>
                            </div>
                        </fieldset>
                        <fieldset class="mt-4">
                            <legend>Введите настройки сайта</legend>
                            <div class="legend-hint text-muted">
                                Сайт будет развернут на сервере с этими настройками<br>
                                Имя базы, пользователя и пароль можно выдумать, они нигде заранее не прописаны.
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Порт веб-сервера</label>
                                <div class="col-sm-8">
                                    <input name="HTTP_PORT" type="number" class="form-control" value="">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Порт phpMyAdmin</label>
                                <div class="col-sm-8">
                                    <input name="PHPMYADMIN_PORT" type="number" class="form-control" value="">
                                    <small class="form-text text-muted">Оставьте поле пустым, если не хотите
                                        устанавливать phpMyAdmin</small>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">База данных MySQL</label>
                                <div class="col-sm-8">
                                    <input name="MYSQL_DATABASE" type="text" class="form-control" value="">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Пользователь MySQL</label>
                                <div class="col-sm-8">
                                    <input name="MYSQL_USER" type="text" class="form-control" value="">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Пароль MySQL</label>
                                <div class="col-sm-8">
                                    <input name="MYSQL_PASSWORD" type="text" class="form-control" value="">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Пароль root MySQL</label>
                                <div class="col-sm-8">
                                    <input name="MYSQL_ROOT_PASSWORD" type="text" class="form-control" value="">
                                </div>
                            </div>
                        </fieldset>
                        <button class="btn btn-success btn-submit mt-2">Начать публикацию</button>
                    </form>
                </div>
                <div class="log-panel">
                    <div class="log-view">
                        <ul class="log">
                            <li></li>
                        </ul>
                        <button class="btn btn-primary btn-done mt-4" style="display: none">Продолжить</button>
                    </div>
                    <div class="terminal-view">
                        <div class="terminal"></div>
                    </div>
                </div>
            </div>

        </div>

    </div>

    </div>

    <script>if (typeof module === 'object') { window.module = module; module = undefined; }</script>
    <script src="../../renderer/libs/jquery.js"></script>
    <script src="../../renderer/app.js"></script>
</body>
</html>