<html>

<head>
    <meta charset="UTF-8">
    <title></title>
    <script src="https://use.fontawesome.com/9c28b8c4ea.js"></script>
    <link href="../../assets/css/global.css" rel="stylesheet" media="all" />
    <script>
        if (typeof module === 'object') {
            window.module = module;
            module = undefined;
        }
    </script>
</head>

<body>
    <div id="wrap" class="static-ui">

        <nav class="header bg-primary">
            <span class="nav-back">
                <button id="app-btn-back" class="btn btn-primary" onclick="app.stepBack()">
                    <i class="fa fa-angle-left"></i>
                </button>
            </span>
            <span id="app-title" class="title"></span>
            <span class="spacer"></span>
            <div id="app-toolbar" class="toolbar"></div>
        </nav>

        <div id="app-workspace" class="workspace scrollbar-inner">
            <div id="app-components"></div>
        </div>

    </div>

    </div>

    <script src="../../assets/libs/jquery.js"></script>
    <script src="../../assets/libs/bootoast.js"></script>
    <script src="../../assets/libs/scrollbar.js"></script>
    <script src="../../renderer/main.js"></script>
</body>

</html>