<div class="card about">
    <div class="card-body">
        <h3>InstantCMS 2 - Мастер публикации</h3>
        <div class="line version">
            Версия 1.0.0
        </div>
        <div class="line">
            <span>Дизайн и программирование</span>
            <a href="mailto:me@veocode.ru" class="shell-link">Владимир Обухов</a>
        </div>
        <div class="line">
            <span>Официальный репозиторий</span>
            <a href="https://github.com/veocode/icms2-deployer"
                class="shell-link">https://github.com/veocode/icms2-deployer</a>
        </div>
        <div class="buttons">
            <button class="btn btn-success" onclick="app.stepBack()">Назад</button>
        </div>
    </div>
</div>