<ul class="list">
    <li class="site" data-template="list-item">
        <div class="name text-primary" data-bind="name"></div>
        <div class="url" data-bind="url"></div>
        <div class="version">
            <span class="badge badge-dark" data-bind="version"></span>
        </div>
        <div class="status">
            <div class="deployed text-success" data-if="deploy.done">Опубликован</div>
            <div class="not-deployed text-secondary" data-not="deploy.done">Не опубликован</div>
        </div>
    </li>
</ul>
<div class="no-sites" data-not="isSites">
    <p>Вы еще не добавили ни одного сайта</p>
    <button class="btn btn-info" onclick="app.addSite()">Добавить сайт</button>
</div>